/* Watermark hide */
.w-webflow-badge {
  display: none;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  vertical-align: baseline;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden],
template {
  display: none;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

.w-block {
  display: block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-hidden {
  display: none;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}


html[data-w-dynpage] [data-w-cloak] {
  color: rgba(0, 0, 0, 0) !important;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button,
[type="button"],
[type="reset"] {
  cursor: pointer;
  border: 0;
}

.w-form {
  margin: 0 0 15px;
}

.w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.w-input,
.w-select {
  width: 100%;
  height: 38px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.w-input:-moz-placeholder,
.w-select:-moz-placeholder {
  color: #999;
}

.w-input::-moz-placeholder,
.w-select::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
  color: #999;
}

.w-input:focus,
.w-select:focus {
  border-color: #3898ec;
  outline: 0;
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
  cursor: not-allowed;
}

.w-input[disabled]:not(.w-input-disabled),
.w-select[disabled]:not(.w-input-disabled),
.w-input[readonly],
.w-select[readonly],
fieldset[disabled]:not(.w-input-disabled) .w-input,
fieldset[disabled]:not(.w-input-disabled) .w-select {
  background-color: #eee;
}

textarea.w-input,
textarea.w-select {
  height: auto;
}

.w-select {
  background-color: #f3f3f3;
}

.w-select[multiple] {
  height: auto;
}

.w-form-label {
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  display: inline-block;
}

.w-radio {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-radio:before,
.w-radio:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-radio:after {
  clear: both;
}

.w-radio-input {
  float: left;
  margin: 3px 0 0 -20px;
  line-height: normal;
}

.w-file-upload {
  margin-bottom: 10px;
  display: block;
}

.w-file-upload-input {
  width: .1px;
  height: .1px;
  opacity: 0;
  z-index: -100;
  position: absolute;
  overflow: hidden;
}

.w-file-upload-default,
.w-file-upload-uploading,
.w-file-upload-success {
  color: #333;
  display: inline-block;
}

.w-file-upload-error {
  margin-top: 10px;
  display: block;
}

.w-file-upload-default.w-hidden,
.w-file-upload-uploading.w-hidden,
.w-file-upload-error.w-hidden,
.w-file-upload-success.w-hidden {
  display: none;
}

.wf-layout-layout {
  display: grid;
}

:root {
  --midnight-blue: #1c1953;
  --white: white;
  --medium-slate-blue: #635bff;
  --black: black;
  --light-grey: #d4d4d4;
  --grey: #9b9b9b;
  --drak-grey: #2c2c2c;
  --light-coral: #ff8c8c;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  color: var(--midnight-blue);
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
  font-weight: 600;
  line-height: 86px;
}

h2 {
  color: var(--midnight-blue);
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
}

h3 {
  color: var(--midnight-blue);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

h4 {
  color: var(--midnight-blue);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

p {
  color: var(--midnight-blue);
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  color: var(--midnight-blue);
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  display: inline-block;
}

figcaption {
  color: var(--medium-slate-blue);
  text-align: left;
  margin-top: 5px;
  font-weight: 500;
}


header {
  width: 100%;
  background-color: #fff;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

.logo {
  padding-left: 115px;
}

.logo h1 {
  font-size: 30px;
  letter-spacing: 1px;
}


@media only screen and (max-width: 1100px) {
  header {
    width: 100%;
    padding: 0 20px;
  }
}


.cta-button {
  background-color: var(--midnight-blue);
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all .35s;
}

.cta-button:hover {
  color: #fff;
  background-color: rgba(28, 25, 83, .9);
}

.cta-button.ghost-button {
  border: 1px solid var(--black);
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
  line-height: 24px;
}

.cta-button.ghost-button:hover {
  background-color: var(--black);
  color: #fff;
  border-color: #25bcca;
}

.cta-button.ghost-button.inverse-ghost {
  color: #fff;
  border-color: #fff;
}

.cta-button.ghost-button.inverse-ghost:hover {
  color: var(--medium-slate-blue);
  background-color: #fff;
}

.cta-button.ghost-button.inverse-ghost.button-top-margin {
  margin-top: 0;
  margin-right: 20px;
}

.cta-button.ghost-button.inverse-ghost.button-top-margin:hover {
  border-style: solid;
}

.cta-button.ghost-button.inverse-ghost.button-top-margin.noright-margin {
  margin-right: 0;
}

.cta-button.ghost-button.inverse-ghost._100-width,
.cta-button._100-width {
  width: 100%;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  position: relative;
}

.container.process {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: auto;
}

.container.menu {
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.section {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  overflow: visible;
}

.section.hero {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(circle at 0 0, rgba(99, 91, 255, .2), rgba(0, 0, 0, 0) 34%);
  border-bottom: 1px #000;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.section.why-us {
  height: auto;
  background-color: rgba(99, 91, 255, .1);
  border-top: 1px #f1f1f1;
  padding-top: 120px;
  position: relative;
}

.section.work {
  height: auto;
  border-top: 1px #000;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.section.contact {
  height: auto;
  background-color: var(--medium-slate-blue);
  position: relative;
}

.section.brands {
  height: 130px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.section.process {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(99, 91, 255, .2));
  padding-top: 0;
  padding-bottom: 140px;
  overflow: hidden;
}

.section.platforms {
  height: auto;
  background-image: linear-gradient(to bottom, var(--white), transparent 27%, rgba(99, 91, 255, .2) 54%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.footer {
  height: auto;
  background-color: var(--midnight-blue);
  background-image: radial-gradient(circle at 0 0, rgba(255, 255, 255, .1), rgba(0, 0, 0, 0) 23%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.section.auto {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.section.auto.background-dark-blue {
  background-color: var(--medium-slate-blue);
}

.section.auto._100px-bottom-padding {
  padding-bottom: 100px;
}

.section.project {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(circle at 0 0, rgba(99, 91, 255, .2), rgba(0, 0, 0, 0) 34%);
  border-bottom: 1px #000;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.nav-menu {
  order: 1;
  align-items: center;
  display: flex;
}

.email-wrapper {
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.grid-block {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.grid-block.flex-vertical {
  justify-content: flex-start;
  display: flex;
  width: 550px;
}

.text-process-block .why-icon {
  font-size: 60px;
  color: #6c6bff;
  margin-bottom: 0;
}

.header-container {
  margin-bottom: 0;
  position: relative;
}

.header-container.bottom-margin {
  margin-bottom: 60px;
}


._01 {
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  transition: color .3s;
}

._01:hover {
  color: #fff;
}

.left-column {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.right-column {
  height: auto;
  max-height: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  display: flex;
  position: relative;
  top: auto;
}

.form {
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  display: grid;
}

.form-block {
  width: 100%;
  margin-bottom: 0;
}

.field-label {
  color: #26226d;
  font-weight: 500;
}

.field-label.hide {
  display: none;
}

.submit-button {
  width: 100%;
  background-color: var(--midnight-blue);
  border-radius: 25px;
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  transition: background-color .35s;
}

.submit-button:hover {
  background-color: rgba(28, 25, 83, .9);
}

.text-field {
  border: 1px solid var(--light-grey);
  background-color: var(--white);
  color: var(--grey);
  border-radius: 5px;
  padding-left: 12px;
}

.text-field:active {
  border-color: var(--medium-slate-blue);
}

.text-field:focus {
  border: 1px solid var(--medium-slate-blue);
}

.text-field.large {
  min-height: 160px;
}

.faq-container {
  margin-top: 0;
  padding-bottom: 0;
}

.c-slider-btn {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}


.counterup.cc {
  color: var(--midnight-blue);
  font-size: 80px;
  font-weight: 600;
}

.line {
  z-index: 20;
  width: 85%;
  height: 1px;
  max-width: 1200px;
  background-color: rgba(28, 25, 83, .2);
  margin-top: 100px;
  margin-bottom: 60px;
  position: relative;
}

.paragraph.bottom-margin {
  margin-bottom: 40px;
}

.intro-title {
  border-left: 2px solid var(--medium-slate-blue);
  color: var(--drak-grey);
  text-transform: none;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 30px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.form-wrapper {
  width: 600px;
  height: auto;
  max-height: none;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 500px;
  padding: 40px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 7px 2px rgba(99, 91, 255, .1);
}

.color-text-purple {
  color: var(--medium-slate-blue);
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 40px;
}

.cta-button-purple {
  border: 1px none var(--medium-slate-blue);
  color: var(--medium-slate-blue);
  background-color: rgba(99, 91, 255, .05);
  border-radius: 25px;
  margin-left: 0;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: background-color .35s, color .35s;
}

.cta-button-purple:hover {
  border-color: var(--black);
  background-color: var(--medium-slate-blue);
  color: var(--white);
}

.required-icon {
  color: var(--medium-slate-blue);
}

.top-margin {
  margin-top: 20px;
}

.process-wrapper {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: relative;
}


.logo-container {
  transition: opacity .35s;
}

.logo-container:hover {
  opacity: 1;
}

.process-image {
  z-index: 10;
  width: 460px;
  cursor: auto;
  position: absolute;
  top: -13%;
  bottom: auto;
  left: auto;
  right: -30%;
  transform: rotate(11deg);
}

.process-image.review-quote {
  position: relative;
  top: auto;
  right: auto;
}

.process-image.project-details {
  position: relative;
  top: 26px;
  left: 49px;
  right: auto;
}

.process-image.start-project {
  position: relative;
  top: auto;
  right: auto;
}

.platform-wrapper {
  border-right: 4px solid var(--medium-slate-blue);
  border-bottom: 1px none var(--light-grey);
  background-color: var(--white);
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 135px 20px 40px;
  display: flex;
  box-shadow: 1px 1px 8px rgba(99, 91, 255, .1);
}

.project-wrapper {
  width: auto;
  height: auto;
  max-width: none;
  min-height: 400px;
  min-width: auto;
  background-color: var(--white);
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 15px 15px 40px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.image-container {
  height: 200px;
  border-style: none none solid;
  border-width: 1px 1px 4px;
  border-color: var(--light-grey) var(--light-grey) var(--medium-slate-blue);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
  position: relative;
  overflow: hidden;
}


.projects-list {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  display: grid;
  position: relative;
}


.project-border {
  background-color: rgba(99, 91, 255, .1);
  border-radius: 5px;
  padding: 0;
  box-shadow: 0 0 7px 7px rgba(99, 91, 255, .1);
}

.link-icon {
  width: 13px;
  height: 13px;
  padding-bottom: 0;
  position: relative;
  top: -2px;
  left: 1px;
}


.platform-icon {
  width: 50px;
}

.platform-icon._03 {
  width: 30px;
}

.thank-you {
  background-color: #dff8e8;
  border-radius: 5px;
}

._30 {
  color: var(--medium-slate-blue);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.purple-span {
  color: var(--medium-slate-blue);
}

.buttons-wrapper {
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.click-to-call {
  width: 33px;
  font-size: 20px;
  height: auto;
  background: #6c6bff;
  color: #fff;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 99999;
  position: fixed;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.click-to-call:hover{
  width: 40px;
  background-color: #1c1953;
}

.click-to-call .telephone {
  padding: 20px 0;
  text-decoration: none;
  writing-mode: vertical-lr;
  display: block;
}

.slider-wrapper {
  width: 500px;
  overflow: hidden;
  border-radius: 8px;
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 8s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

img {
  width: 100%;
}


.grid {
  grid-row-gap: 16px;
  grid-template-rows: auto;
}

.grid._3-columns {
  grid-template-columns: 1fr 1fr;
}

.grid._3-columns._60px-top-margin {
  margin-top: 60px;
}

.grid._40px-top-margin {
  margin-top: 40px;
}

.grid._4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid._4-columns._2-rows {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
}

.grid._60px-column-gap {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.footer-left-container {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.social-media-container {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}


.process-image-wrapper {
  position: relative;
}

.text-process-block {
  background-color: rgba(99, 91, 255, .05);
  border: 1px solid rgba(99, 91, 255, .05);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  display: flex;
}


.pre-load {
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: var(--medium-slate-blue);
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.request-pop-up {
  z-index: 2147483647;
  width: 100%;
  height: auto;
  background-color: rgba(28, 25, 83, .7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: auto;
}

.close-modal {
  width: 40px;
  height: 40px;
  color: var(--midnight-blue);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: color .35s;
  display: flex;
  position: absolute;
  top: 10px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.close-modal:hover {
  color: rgba(28, 25, 83, .5);
}

.overflow-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.overflow-wrapper h1 {
  font-size: 50px;
  line-height: 75px;
}

.ow-para {
  line-height: 28px;
  font-size: 16px;
}

._620px-max-widht {
  width: 620px;
  color: var(--midnight-blue);
}

.buttons-wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.color-text-white {
  color: var(--white);
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-decoration {
  margin-bottom: 0;
  text-decoration: none;
}

.no-decoration:hover {
  text-decoration: underline;
}

.no-decoration.color-text-purple.medium {
  font-weight: 500;
}

.color-text-light-grey {
  color: var(--grey);
}

.align-center {
  text-align: center;
}

.project-image {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}

.error {
  background-color: #ffdede;
  border-radius: 5px;
}

._400px-max-width {
  max-width: 400px;
}

.password-wrapper {
  height: auto;
  max-height: none;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 7px 2px rgba(99, 91, 255, .1);
}


.project-collection-list-wrapper {
  margin-top: 40px;
}

.image-wrapper {
  border-bottom: 4px solid var(--medium-slate-blue);
  border-radius: 5px;
  overflow: hidden;
}

.image-wrapper._40vh {
  height: 50vh;
}

._20px-top-margin {
  margin-top: 20px;
}


@media screen and (max-width: 991px) {
  .cta-button.open-modal {
    width: 100%;
    border-radius: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    display: flex;
  }

  .container {
    flex-wrap: wrap;
    display: flex;
    position: relative;
  }

  .container.menu {
    flex-wrap: wrap;
  }

  .section.hero,
  .section.project {
    overflow: hidden;
  }


  .nav-menu {
    background-color: var(--white);
    background-image: radial-gradient(circle at 0 0, rgba(99, 91, 255, .2) 10%, rgba(0, 0, 0, 0) 66%);
    border-left-style: none;
    border-radius: 0;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    top: 85px;
    overflow: hidden;
  }

  .email-wrapper {
    background-color: var(--white);
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
  }


  .left-column {
    margin-bottom: 40px;
  }

  .form-wrapper {
    width: 100%;
  }

  .companies-wrapper {
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 59px;
    padding-right: 59px;
  }

  .process-wrapper {
    width: auto;
    height: auto;
  }

  .process-image.review-quote {
    width: 250px;
    top: auto;
    right: auto;
  }

  .process-image.project-details {
    width: 250px;
    top: auto;
    left: auto;
    right: auto;
  }

  .process-image.start-project {
    width: 250px;
    top: auto;
    right: auto;
  }

  .projects-list {
    grid-template-columns: 1fr 1fr;
  }

  .process-image-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .menu-icon {
    color: var(--midnight-blue);
  }

  .style-guide-content-bottom.bottom-margin {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .logo h1 {
    line-height: 80px;
    padding-left: 13px;
  }

  .logo {
    padding-left: 0;
  }

  h1 {
    letter-spacing: 0;
    font-size: 40px;
    line-height: 46px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  p {
    font-size: 14px;
    line-height: 26px;
  }

  .section.hero {
    background-image: radial-gradient(circle at 0 0, rgba(99, 91, 255, .2), rgba(0, 0, 0, 0) 34%);
    padding-top: 80px;
    padding-bottom: 100px;
    position: static;
    overflow: hidden;
  }

  .section.why-us,
  .section.work {
    padding-top: 100px;
  }

  .section.contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.brands {
    height: 110px;
  }

  .section.process {
    padding-bottom: 40px;
  }

  .section.platforms {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 27%, rgba(99, 91, 255, .2) 54%);
  }

  .section.footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.auto._100px-bottom-padding {
    padding-bottom: 40px;
  }

  .section.project {
    background-image: radial-gradient(circle at 0 0, rgba(99, 91, 255, .2), rgba(0, 0, 0, 0) 34%);
    padding-top: 80px;
    padding-bottom: 40px;
    position: static;
    overflow: hidden;
  }


  .grid-block {
    position: relative;
  }

  .grid-block.hide-mobile {
    display: none;
  }

  .right-column,
  .faq-container {
    width: 100%;
  }


  .companies-wrapper {
    height: auto;
    justify-content: space-between;
    padding: 35px 54px;
  }


  .projects-list {
    flex-direction: column;
    display: flex;
  }

  .buttons-wrapper {
    width: 100%;
  }

  .grid {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 50px;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    margin-bottom: 100px;
  }

  .social-media-container {
    justify-content: flex-start;
  }

  .text-process-block {
    padding-left: 20px;
    padding-right: 20px;
  }

  .webflow {
    display: flex;
  }

  .pre-load {
    display: none;
  }

  .logo {
    width: 140px;
  }

  ._620px-max-widht {
    width: auto;
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
  }

  .style-guide-content-top {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .style-guide-content-top.top-padding {
    padding-top: 120px;
  }

  .style-guide-item {
    margin-top: 20px;
  }

  .style-guide-content-bottom {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .style-guide-item-2 {
    margin-top: 20px;
  }

  .style-guide-content-bottom-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 42px;
    line-height: 48px;
  }

  h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .cta-button {
    font-size: 15px;
  }

  .cta-button.ghost-button.inverse-ghost.button-top-margin {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .cta-button.hero-button {
    width: 100%;
    text-align: center;
  }

  .container.process {
    align-items: flex-start;
  }

  .container.footer {
    display: block;
  }

  .container.tools {
    padding-top: 0;
  }

  .section.hero {
    background-image: radial-gradient(circle at 0 0, rgba(99, 91, 255, .2), rgba(0, 0, 0, 0) 47%);
    padding-top: 80px;
    padding-bottom: 140px;
    position: relative;
    overflow: hidden;
  }

  .section.why-us {
    padding-top: 140px;
    padding-bottom: 40px;
  }

  .section.work {
    padding-bottom: 0;
  }

  .section.contact {
    overflow: hidden;
  }

  .section.brands {
    height: 100px;
    display: flex;
  }

  .section.process {
    padding-bottom: 40px;
  }

  .section.platforms {
    background-color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 27%, rgba(99, 91, 255, .2) 54%);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
  }

  .section.project {
    background-image: radial-gradient(circle at 0 0, rgba(99, 91, 255, .2), rgba(0, 0, 0, 0) 47%);
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
  }


  .nav-menu {
    top: 85px;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .email-wrapper {
    z-index: 99999999;
    position: relative;
  }

  .grid-block {
    position: relative;
  }


  .line {
    margin-top: 60px;
  }

  .form-wrapper {
    padding: 20px;
  }

  .cta-button-purple {
    z-index: 2;
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .companies-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-around;
    align-items: stretch;
    padding-left: 26px;
    padding-right: 26px;
    display: grid;
  }


  .logo-container {
    padding: 5px;
  }

  .platform-wrapper {
    padding-right: 20px;
  }

  .buttons-wrapper {
    display: block;
  }

  .grid {
    flex-direction: column;
    display: flex;
  }

  .grid.process {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .text-process-block {
    padding-right: 20px;
  }

  .pre-load,
  .request-pop-up {
    display: none;
  }

  ._620px-max-widht {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }

  .buttons-wrapper {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .password-wrapper {
    width: 85%;
    padding: 49px 20px;
  }

  .password-form {
    width: 85%;
  }

}

#w-node-_2b33ca2b-b1d9-c5a6-3ce4-a6e904aa34b5-8c28a13b,
#w-node-cf5c6bdf-5ff1-047c-aeb5-db5538f4657b-8c28a13b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_549bcfbd-fd2a-b008-b4e0-a6559492ab9c-8c28a13b,
#w-node-_4f40c1b5-a95d-78ed-d224-56eb79d1a3de-8c28a13b,
#w-node-_48fae6d5-9e29-0871-fcd4-9f0506a8d0cc-8c28a13b,
#w-node-_415f2b35-0421-fbcf-6737-d9ca616eed18-8c28a13b,
#w-node-_0afdc85e-49d9-8bb4-8b01-5548df41a48e-8c28a13b,
#w-node-_549bcfbd-fd2a-b008-b4e0-a6559492aba0-8c28a13b,
#w-node-_549bcfbd-fd2a-b008-b4e0-a6559492abac-8c28a13b {
  grid-area: span 1 / span 2 / span 1 / span 2;
}


@media screen and (max-width: 991px) {
  #w-node-_89b03a6f-614d-93c8-bc6f-f61b2bb46ccb-8c28a13b {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_6366f2b9-3913-38f4-8a7e-0a9a7c464743-8c28a13b {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-c0ec26e7-4fcc-33d7-7a2d-8914ccb88d98-8c28a13b {
    grid-area: 4 / 1 / 5 / 3;
  }

  #w-node-a27190f0-6e3e-c5d5-7ee7-d69863e5609b-8c28a13b {
    grid-area: 3 / 1 / 4 / 3;
  }

  #w-node-a9d83529-4ce7-a7e0-ef5d-7394dfc96405-8c28a13b,
  #w-node-_272350c4-2f9f-3213-c6f0-524d967d54d0-8c28a13b,
  #w-node-_7be858b1-5927-6575-2066-9d5a0027452f-efd5489a {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px){
  #w-node-_96d0590c-a9f3-2fbd-dbb4-67abc82a7e1b-8c28a13b,
  #w-node-a5d76634-6e4d-4b35-4d9f-6d199a36c87a-8c28a13b,
  #w-node-_149a56db-edbc-7fb4-05a9-7bcbde09332b-8c28a13b{
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
}

